body{
    background-color: coral;
}
.container{
   display: grid;
   height: 600px;
   width: 100%;
   color: brown;
   border: 1px solid blue;
   background-color: burlywood;
   /* grid-template-columns: 200px 300px auto auto; */
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(6,1fr);
   
}

.row1,.row2,.row3,.row4{
    border: 1px solid green;
}
.row1{
    grid-column: 1/13;
    grid-row: 1/2;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.row2{
    grid-column: 1/13;
    grid-row: 2/3;
    background-color: #232f3e;
    height: 70px;
    color: white;
    border: 1px solid white;
    display: flex;
    
}
ul li{
    list-style: none;
    display: inline;
    padding: 20px;
}
li:hover{
    background-color: burlywood;
}